*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
}

/* intro content style */

@media only screen and (min-width:601px) {

    /* intro content style for laptop view */
#search_arrow{
    height: 50px;
    width: 80px;
    font-weight: bold;
    padding: 5px;
    font-size: 24px;
}
#search_input_button{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search_bar{
    height: 50px;
    width: 300px;
    padding: 3px;
    font-size: 20px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(168, 147, 147, 0.815);
    box-shadow: 0 0 0px 0.2px rgb(83, 80, 80);
    /* background-color: rgba(233, 223, 223, 0.3); */
    font-size: 20px;

}

#search_bar:hover{
    border: 1px solid rgb(85, 82, 82);
}
#footer_slide{
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding: 10px;
}
#footer_slide button{
    padding: 10px;
    width: 60px;
    border: 1px solid black;
    color: black;
    font-size: 2em;

}
#footer_slide button:hover{
    background-color: gray;
}

#intro_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(158, 224, 250, 0.274);
    margin: 5px;
    margin-bottom: 25px;
}
#first_para{
    padding: 10px;
    text-align: center;
}
#second_para{
    padding: 10px;
}
#first_para>h1{
    font-size: 55px;
    color: rgb(5, 32, 100);
    padding: 10px;

}
#first_para>h2{
    font-size: 36px;
    padding: 10px;
}
#first_para>input{
    padding: 10px;
    border: 2px solid rgb(131, 131, 131);
    width: 360px;
    margin: 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 15px;
}
#first_para>input:hover{
    box-shadow: 1px 1px 10px gray;
}
.button1:hover {
    border: 1px solid rgb(129, 123, 123);
    background-color: black;
} 
.button1{
    padding: 15px;
    margin: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 2px 1px 10px rgba(77, 76, 76, 0.849);
    width: 200px;
    border-radius: 10px;
    color: white;
    outline: none;
    border: none;
    border: 1px solid rgba(83, 81, 81, 0.952);
    background-color: rgba(27, 27, 27, 0.911);
}
.slide_img{
    width: 500px;
    height: 400px;
    box-shadow: 1px 1px 15px gray;
    border-radius: 20px;
}

}

/* intro content style for mobile */

@media only screen and (max-width: 700px) {

    #search_arrow{
        height: 40px;
        width: 80px;
        font-weight: bold;
        padding: 5px;
        font-size: 20px;
    }
    #search_input_button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #search_bar{
        height: 40px;
        width: 300px;
        padding: 3px;
        font-size: 15px;
        border-radius: 4px;
        outline: none;
        border: 1px solid rgba(168, 147, 147, 0.815);
        box-shadow: 0 0 0px 0.2px rgb(83, 80, 80);
        /* background-color: rgba(233, 223, 223, 0.3); */
        font-size: 20px;
    
    }
    
    #search_bar:hover{
        border: 1px solid rgb(85, 82, 82);
    }

    #intro_content{
        background-color: rgba(158, 224, 250, 0.274);
        margin: 5px;
        margin-bottom: 25px;
    }
    #first_para{
        padding: 5px;
        text-align: center;
    }

    #first_para>h1{
        font-size: 30px;
        color: rgb(5, 32, 100);
        padding: 10px;
    
    }
    #first_para>h2{
        font-size: 25px;
        padding: 10px;
    }
    #first_para>input{
        padding: 6px;
        border: 2px solid rgb(131, 131, 131);
        width: 75%;
        margin: 10px;
        margin-bottom: 20px;
        outline: none;
        font-size: 18px;
    }
    #first_para>input:active{
        box-shadow: 1px 1px 10px gray;
    }

    .button1:hover {
        border: 1px solid rgb(129, 123, 123);
        background-color: black;
    } 
    .button1:active {
        border: 1px solid rgb(129, 123, 123);
        background-color: black;
    } 
    .button1{
        padding: 12px;
        margin: 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        box-shadow: 2px 1px 10px rgba(77, 76, 76, 0.849);
        width: 50%;
        border-radius: 10px;
        color: white;
        outline: none;
        border: none;
        border: 1px solid rgba(83, 81, 81, 0.952);
        background-color: rgba(27, 27, 27, 0.911);
    }

    #second_para{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5px;
        width: 100%;
    }
    #footer_slide{
        margin: 5px;
        padding: 5px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    #footer_slide button{
        padding: 7px;
        width: 50px;
        border: 1px solid black;
        font-size: 1em;
    
    }
    #footer_slide button:hover{
        background-color: gray;
    }
    #footer_slide button:active{
        background-color: gray;
    }
    .slide_img{
        width: 75%;
        height: 50%;
        box-shadow: 1px 1px 15px gray;
        border-radius: 20px;
        margin-bottom: 10px;
        margin-top: 15px;
    }
    .mySlides1{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    

}


.courses_img{
    width: 400px;
    height: 300px;

}


/* enquiry style */
#head{
    font-size: 25px;
    text-shadow: 1px 1px 10px white;
}
/* #container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 80%;
    padding: 30px;
  } */
.input{
    width: 60%;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    outline: none;
    font-size: 1.rem;
    border: 1px solid rgb(85, 82, 82);
    box-shadow: 0 0 0px 0.2px rgb(83, 80, 80);
    background-color: rgba(233, 223, 223, 0.3);
    font-size: 20px

}
.label{
    display: inline-block;
    width: 30%;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
}
#form{
    width: 70%;
    padding: 15px;
    margin: 20px;
    box-shadow: 2px 2px 25px rgba(197, 195, 195, 0.877);
    border-radius: 20px;
    border: 1px solid rgba(143, 141, 141, 0.747);
}
#btn{
    margin: auto;
    width: 50%;
}

.button{
    padding: 15px;
    margin: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 2px 1px 10px rgba(77, 76, 76, 0.849);
    width: 200px;
    border-radius: 10px;
    color: white;
    outline: none;
    border: none;
    border: 1px solid rgba(83, 81, 81, 0.952);
    background-color: rgba(27, 27, 27, 0.911);


}
.input:hover {
    border: 1px solid white;
}
.button:hover {
    border: 1px solid rgb(129, 123, 123);
    background-color: black;
}


/* footer style */
footer{
    background-color: rgb(1, 11, 36);
    padding: 10px;
}
#copyright{
    border-top: 1px solid rgb(255, 255, 255);
    width: 100%;
    padding: 15px;
    margin: 2px 0px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.icon{
    width: 50px;
    height: 50px;
}
.holefloat1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

#addr{
    flex-wrap: wrap;
    width: 500px;
    color: white;
    padding: 5px;
    padding-left: 30px;
}
#email>a, #contact>a{
    color: white;
    text-decoration: none;
}

#addr>h2{
    font-size: 28px;
    padding: 10px 0px;
}
#address, #contact, #email{
    letter-spacing: 1.5px;
    word-spacing: 2px;
    font-size: 20px;
    padding-left: 20px;

}


/* index page courses page style */

@media only screen and (min-width: 701px) {

    /* index page courses style for laptop view */

#serices_contents{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.courses{
    border: 1px solid rgb(189, 188, 188);
    background-color: rgba(216, 214, 214, 0.322);
    padding: 10px;
    margin: 10px;
    height: 630px;
    width: 100%;
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgb(189, 188, 188);
}
.service_align{
    text-align: center;
}
.courses_img2{
    box-shadow: 1px 1px 5px rgb(83, 82, 82);
}
.courses>p{
    font-size: 20px;
    padding: 10px 0px;
    margin: 5px;
    height: 160px;
    line-height: 30px;
    text-align: center;

}
.services_a_align>a{
    text-decoration: none;
    font-size: 30px;
    margin-top: 15px;
    color: rgb(226, 26, 93);
}
.services_a_align>a:hover{
    border-bottom: 1px solid rgb(185, 20, 75);
    text-shadow: 1px 1px 3px rgb(235, 154, 168);
}
.services_a_align{
    display: flex;
    align-items: center;
    justify-content: center;

}
.courses>h1{
    color: rgb(226, 26, 93);
    padding: 10px 0px;
    padding-bottom: 20px;
    font-size: 35px;
    
}
.courses_heading{
    text-align: center;
}
.courses_heading>p{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding: 5px;
}
.courses_heading>h1{
    font-size: 32px;
    padding: 10px 0px;
}
.courses_heading>h3{
    font-size: 30px;

}
.courses_img2{
    width: 400px;
    height: 300px;

}

}
/* index page corses style for mobile */
@media only screen and (max-width: 700px) {

    .courses_heading{
        text-align: left;
        font-size: 15px;

    }
    .courses_heading>p{
        font-size: 20px;
        line-height: 27px;
        padding: 5px;
        text-indent: 30px;
    }
    .courses_heading>h1{
        font-size: 25px;
        padding: 10px 0px;
    }
    .courses_heading>h3{
        font-size: 35px;
    }
    #services{
        padding: 5px;
        margin: 2px;
    }

    .services_a_align>a{
        text-decoration: none;
        font-size: 28px;
        color: rgb(226, 26, 93);
    }
    .services_a_align>a:hover{
        border-bottom: 1px solid rgb(185, 20, 75);
        text-shadow: 1px 1px 3px rgb(235, 154, 168);
    }
    .services_a_align>a:active{
        border-bottom: 1px solid rgb(185, 20, 75);
        text-shadow: 1px 1px 3px rgb(235, 154, 168);
    }
    .services_a_align{
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    #serices_contents{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;
        padding: 15px;
    }
    
    .courses{
        border: 1px solid rgb(189, 188, 188);
        background-color: rgba(216, 214, 214, 0.322);
        padding: 10px;
        margin: 20px 10px;
        height: fit-content;
        width: 100%;
        border-radius: 30px;
        box-shadow: 1px 1px 10px rgb(189, 188, 188);
    }
    .service_align{
        text-align: center;
        font-size: 25px;
        padding: 2px;
        margin-top: 10px;

    }
    .courses_img2{
        box-shadow: 1px 1px 5px rgb(83, 82, 82);
        width: 90%;
        height: 60%;
        margin-top: 10px;
    }
    .courses>p{
        font-size: 20px;
        padding: 10px 0px;
        margin: 5px;
        line-height: 25px;
        text-align: center;
    
    }



}
